@use '../../../../../styles.scss';


.container {
    height: 100%;
    @include styles.center;
    flex-direction: column;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

    .title {
        font-size: 100px;
        font-weight: 700;
        color: #444;
    }
}