.container {
    height: calc(100% - 80px);
    box-sizing: border-box;
    padding: 10px;

    .header {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding : 0px 5px 0px;

        .section {
            display: flex;
            align-items: center;
            padding: 0px 5px 0px;
            box-sizing: border-box;
        }

        .title {
            flex: 0 1 300px;
        }
    
        .header-actions {
            flex: 1;
            gap: 10px;
            justify-content: end;
        }
    }
    
    .body {
        width: 100%;
        height: calc(100% - 80px);
        box-sizing: border-box;    
        padding : 0px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            width: 100%;
            height: 100%;
        }
    }
}