<form [formGroup]="form" novalidate>
    <h2 mat-dialog-title>Filters</h2>
    <hr>
    <mat-dialog-content class="content">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title"  />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option value="Published">Published</mat-option>
                <mat-option value="Archived">Archived</mat-option>
                <mat-option value="Draft">Draft</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="filter()">
            <mat-icon>filter_list</mat-icon>
            Filter
        </button>
        <button mat-raised-button mat-dialog-close color="warn">
            <mat-icon>cancel</mat-icon>
            Close
        </button>
    </mat-dialog-actions>
</form>

