
.container {
    height: 100%;
    display: flex;
    flex-direction: row;

    .section {
        display: flex;
        align-items: center;
        padding: 0px 5px 0px;
        box-sizing: border-box;
    }

    .title {
        flex: 0 1 300px;
    }

    .actions {
        flex: 1;
        gap: 10px;
        border-left: 1px solid black;
    }

    .search {
        flex: 1;
    }

    .ie-section {
        flex: 0 1 auto;
        justify-content: end;
        gap: 10px;

    }
}