<button mat-button matTooltip="{{ visible ? 'close notifications' : 'open notifications'}}" (click)="visible = !visible">
    <mat-icon matBadge="{{notOpenedCount$ | async}}" matBadgePosition="after" matBadgeSize="small" matBadgeColor="warn">
        notifications_none
    </mat-icon>
</button>
<div class="notifications" *ngIf="visible">
    <div class="notif-header">
        <b>Notifications</b> 
        <button mat-raised-button color="primary" (click)="markAllAsRead()">
            Mark all as read
        </button>
    </div>
    <div class="notif-body" *ngIf="(notifications$ | async).length !== 0">
        <div [ngClass]="'notif-element '+ notifBgStyle(notification.state)" *ngFor="let notification of notifications$ | async">
            <div class="notif-content">
                <h5>{{SentXAgo(notification.date)}}</h5> 
                {{notification.content}}
            </div>
            <div class="notif-actions">
                <button mat-button (click)="markAsRead(notification.id)" color="primary">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </div>
        </div>
        <div class="notif-load-more">
            <button mat-raised-button (click)="loadMore()" color="primary">
                Load more
            </button>
        </div>
    </div>
    <div class="empty-body" *ngIf="(notifications$ | async).length === 0">
        <div>There is no notifications at the moment</div>
    </div>
</div>