
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 10px;
    border: 1px solid black;

    .mat-form-field input  {
        background-color: green;
    }

    .submit-button {
        width: 100%;
    }

}



