<div class="container">
    <form [formGroup]="changePasswordForm" novalidate>
        <div class="form-header">
            Change password
        </div>
        <div *ngIf="isNewUser" class="form-info">
            This is your first authentication! <br>
            You must change your password in order to protect your account.
        </div>
        <div class="form-inputs">
            <mat-form-field *ngIf="!isNewUser" appearance="outline">
                <mat-label>old password</mat-label>
                <input type="password" formControlName="oldPassword" matInput />
                <mat-icon matSuffix>password</mat-icon>
                <mat-error *ngIf="check('oldPassword', 'required')">old password required</mat-error>
                <mat-error *ngIf="check('oldPassword', 'minlength')">minimum 8 characters</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isNewUser" appearance="outline">
                <mat-label>new password</mat-label>
                <input type="password" formControlName="newPassword" matInput />
                <mat-icon matSuffix>password</mat-icon>
                <mat-error *ngIf="check('newPassword','required')">new password required</mat-error>
                <mat-error *ngIf="check('newPassword','minlength')">minimum 8 characters</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="isNewUser" appearance="outline">
                <mat-label>new password</mat-label>
                <input type="password" formControlName="password" matInput />
                <mat-icon matSuffix>password</mat-icon>
                <mat-error *ngIf="check('password','required')">new password required</mat-error>
                <mat-error *ngIf="check('password','minlength')">minimum 8 characters</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>confirm password</mat-label>
                <input type="password" formControlName="confirmPassword" matInput />
                <mat-icon matSuffix>password</mat-icon>
                <mat-error *ngIf="check('confirmPassword','required')">confirm password required</mat-error>
                <mat-error *ngIf="check('confirmPassword','minlength')">minimum 8 characters</mat-error>
                <mat-error *ngIf="check('confirmPassword','confirmedValidator')">not matching the password</mat-error>
            </mat-form-field>
        </div>
        <div class="form-submit">
            <button mat-raised-button color="primary" [disabled]="changePasswordForm.invalid"
                (click)="changePassword()">
                Change Password
                <mat-icon matSuffix>send</mat-icon>
            </button>
        </div>
    </form>
</div>