<div class="container">
    <form [formGroup]="resetInfoForm" novalidate>

        <div class="form-header">
            Retrieve your information
        </div>

        <div class="form-info">
            Enter the username associated with your account.
            You will receive the password in your email box.
        </div>

        <!-- INPUTS SECTION -->
        <div class="form-inputs">
            <!-- <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input type="email" formControlName="email" matInput placeholder="example@domain.com" />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="check('email','required')" >email required</mat-error>
                <mat-error *ngIf="check('email','email')" >email is not valid</mat-error>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                <mat-label>username</mat-label>
                <input type="text" formControlName="username" matInput />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="check('username','required')">username required</mat-error>
            </mat-form-field>
        </div>

        <div class="form-submit">
            <button mat-raised-button color="primary" [disabled]="resetInfoForm.invalid" (click)="submit()">
                Send
                <mat-icon matSuffix>send</mat-icon>
            </button>
        </div>
    </form>
</div>